@model IEnumerable<New_webform.Models.Collegemodel>

@{
    ViewBag.Title = "College";
}

<h2>College</h2>

<p>
    @Html.ActionLink("Create New", "AddCollege")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.collegename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Addresss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Universityname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.collegename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Addresss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Universityname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
