
@{
    ViewBag.Title = "Studentview";
}

<h2>Studentview</h2>
<div>
    <h4>Student Model</h4>
    <hr/>
    </div>
<div class="row">
    <span>Name: </span>
    <span>@Model.First_name @Model.Last_name</span><br>
    <span>Age: @Model.Age</span><br />
    <span>Address: @Model.Address </span><br />
    <span>College Name: @Model.CollegeName </span><br />

</div>